<%= form_with(model: pledge, local: true) do |form| %>
  <% if pledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>

      <ul>
      <% pledge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :wishlist_item_id %>
    <%= form.number_field :wishlist_item_id, id: :pledge_wishlist_item_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :pledge_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
