<div class="container">
  <h2>
    <%= pronoun(@pledge.user) %> pledged to donate
    "<%= @pledge.wishlist_item.name %>"
  </h2>

  <div class="my-4">
    <p class="lead">
      <% if @pledge.anonymous? %>
        Thank you for being a Hero of Play! ♥
    </p>
    <p class="lead">
        But wait, we don't know who you are! By logging in, you make it much
        easier for us to track donations. Sign up/log in with Amazon <%= link_to "here", signin_path %>.
      <% else %>
        Thanks for being a Hero of Play! On behalf of the children and families we serve, thank you! ♥
      <% end %>
    </p>
  </div>

  <%= render @pledge %>

  <% if @pledge.anonymous? && current_user.logged_in? %>
    <div class="row align-items-center unpledge my-4">
      <div class="col">
        <h4>Did you make this pledge?
        <%= link_to 'Claim pledge', pledge_claim_path(@pledge),
          method: :patch,
          class: 'btn btn-primary btn-sm text-right' %>
        </h4>
      </div>
    </div>
  <% end %>

  <div class="row align-items-center unpledge my-4">
    <div class="col">
      <h4>Didn't mean to pledge?
      <%= link_to 'Unpledge item', pledge_path(@pledge),
        method: :delete,
        class: 'btn btn-danger btn-sm text-right',
        data: { confirm: 'Are you sure you want to unpledge this item?' } %>
      </h4>
    </div>
  </div>

  <% if current_user.pledged? @pledge %>
    <p>
      Manage your pledge here or on your <%= link_to 'user page', @pledge.user %>.
    </p>
  <% end %>

  <%= link_to "Back to #{@pledge.wishlist.name}", @pledge.wishlist %> |
  <%= link_to "Back to user page", @pledge.user %>
</div>
