<% @wishlist_items.each do |wishlist_item| %>
  <% item = @items.find(wishlist_item.item_id) %>

  <div class="wishlist-item card">
    <div class="card-block">
      <!-- Card Image -->
      <img class="card-img-left" src="<%= item.image_url %>">

      <!-- Card Title -->
      <h4 class="card-title">
        <%= link_to item.name, item.amazon_url || "#" %>
      </h4>

      <!-- Staff Message -->
      <% if wishlist_item.staff_message %>
        <p>
          <strong>Staff Message:</strong>
          <span class="card-text"><%= wishlist_item.staff_message %></span>
        </p>
      <% end %>

      <!-- Item Details -->
      <p>
        <strong>
          <span class="padding-right">
            Quantity: <%= wishlist_item.quantity || 0 %>
          </span>
          Price:
          <% if wishlist_item.price_cents %>
            <%= number_to_currency(item.price_cents / 100.00) %>
          <% else %>
            "Unknown"
          <% end %>
        </strong>
      </p>


      <!-- Action Links -->

      <!-- Wishlist Item Actions -->
      <% if logged_in? && (admin? || site_manager?) %>
        <div class="wishlist-item-tools">
          <%= link_to 'Edit', edit_wishlist_item_path(wishlist_item) %>
          <%= link_to 'Remove', wishlist_item_path(wishlist_item), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <!-- Pledge Actions -->
      <%= button_to "Purchase Item", "#{item.amazon_url}", class:"btn btn-primary float-right" %>
    </div>
  </div>
<% end %>
