<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field:name, id: :user_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field:email, id: :user_email, class: "form-control" %>
  </div>

  <div class="checkbox">
    <%= form.label :admin %>
    <%= form.check_box :admin, id: :user_admin %>
  </div>

  <div class="form-group" id="user_wishlists">
    <%= form.label :wishlists %>
    <%= form.collection_check_boxes :wishlist_ids, Wishlist.all, :id, :name do |b|
      b.label(class: "checkbox-inline") {
        b.check_box(id: "wishlist-#{b.object.id}") + b.text
      }
    end
    %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
