<div class="container">
  <% if notice %>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  <h2 class = "purple">Editing <%= @user.display_name %></h2>

  <%= render 'form', user: @user %>

  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
</div>
