<div class="container">
  <h2>Editing <%= @user.display_name %></h2>

  <%= render 'form', user: @user %>

  <%= link_to 'Delete Account', @user, method: :delete,
                                       class: "btn btn-danger",
                                       data: { confirm: "Are you sure you want to delete your account? There's no going back!" } %>

  <div>
    <%= link_to 'Show', @user %>
    <% if current_user.admin? %>
      | <%= link_to 'Back', users_path %>
    <% end %>
  </div>
</div>
