<div class="container">
  <h2 class = "purple"><%= @user.display_name %></h2>

  <div id="user-details">
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
      <%= mail_to @user.email, icon('envelope-o') %>
    </p>

    <p>
      <strong>Admin:</strong>
      <%= @user.admin? %>
    </p>

    <p>
      <strong>Managed Wishlists:</strong>

      <% if @user.wishlists.any? %>
        <ul id="user-wishlists">
          <% @user.wishlists.each do |wishlist| %>
            <li class="user-wishlist">
              <%= link_to wishlist.name, wishlist %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </p>
  </div>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>

  <hr>

  <h3> Current Pledges</h3>
  <hr>
  <br>

  <div>
    <% @pledges.each do |pledge| %>
      <h2> <%= pledge.wishlist_item.wishlist.name %></h2>
      <img class="card-img-left" src="<%= pledge.wishlist_item.item.image_url %>">
      <h4> <%= pledge.wishlist_item.item.name %></h4>
      <h6><strong>Price: <%= number_to_currency(pledge.wishlist_item.item.price_cents / 100.00) %></strong></h6>
      <p><strong>Pledged On: <%= pledge.created_at%></strong></p>
      <strong>View on Amazon</strong>
      <p><%= pledge.wishlist_item.item.amazon_url%></p>
      <%= link_to 'Unpledge', pledge, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary float-right"  %>
    <%end%>
  </div>
</div>
