<div class="container">
  <h2><%= @user.display_name %></h2>

  <div id="user-details">
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
      <%= mail_to @user.email, icon('envelope-o') %>
    </p>
    <% if @user.admin?%>
      <p>
        <strong>Admin:</strong>
        <%= @user.admin? %>
      </p>
    <% end %>

      <% if @user.wishlists.any? %>
      <strong>Managed Wishlists:</strong>
      <p>
        <ul id="user-wishlists">
          <% @user.wishlists.each do |wishlist| %>
            <li class="user-wishlist">
              <%= link_to wishlist.name, wishlist %>
            </li>
          <% end %>
        </ul>
      </p>
      <% end %>
  </div>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>

  <hr>

  <h3> Current Pledges</h3>
  <hr>
  <br>

  <div id="pledges">
    <% @pledges.each do |pledge| %>
      <div class="pledge">
        <hr>
        <img class="card-img-left" src="<%= pledge.wishlist_item.item.image_url %>">
        <br>
        <h4><strong><%= link_to pledge.wishlist_item.item.name, pledge.wishlist_item.item.amazon_url %></strong></h4>
        <p><strong>Quantity: <%= pledge.wishlist_item.quantity %></strong></p>
        <p><strong>Pledged On: <%= pledge.created_at.to_formatted_s(:long_ordinal)%></strong></p>
        <strong><%= link_to "View on Amazon", pledge.wishlist_item.item.amazon_url, class: "btn btn-primary" %></strong>
        <%= link_to 'Unpledge', pledge, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary"  %>
        <hr>
      </div>
    <% end %>
  </div>
</div>
