<div class="master-wishlist">
  <div class="header">
    <h1>Playtime Project</h1>
    <h3>Master Wishlist</h3>
  </div>

  <table class="wishlist-table">
    <% @wishlist_items.each do |item| %>
      <tr>
        <th>
          <%= link_to item.affiliate_url do %>
            <%= image_tag item.image_url, class: "wishlist-item-image" %>
          <% end %>
        </th>
        <th>
          <p class="wishlist-item-price">
            <%= item.price_cents %>
          </p>
        </th>
        <th>
          <p class="wishlist-item-quantity">
            <%= item.quantity %>
          </p>
        </th>
        <th>
          <p class="wishlist-item-staff-message">
            <%= item.staff_message %>
          </p>
        </th>
      </tr>
    <% end %>
  </table>
</div>
