<% if item.valid? %>
  <tr class="item">
    <%= form_for @wishlist.wishlist_items.build, url: wishlist_wishlist_items_path(@wishlist) do |f| %>
      <%= hidden_field_tag 'name', item.title %>
      <%= hidden_field_tag 'amazon_url', item.detail_page_url %>
      <%= hidden_field_tag 'price_cents', item.price_cents %>
      <%= hidden_field_tag 'asin', item.asin %>
      <%= hidden_field_tag 'image_url', item.image_url %>
      <%= hidden_field_tag 'image_width', item.image_width %>
      <%= hidden_field_tag 'image_height', item.image_height %>

      <td>
        <% if item.valid_image? %>
          <%= image_tag item.image_url, width: item.image_width,
                                        height: item.image_height %>
        <% end %>
      </td>

      <td>
        <%= link_to item.title, item.detail_page_url, target: "_blank" %>
      </td>
      <td>
        <%= item.price %>
      </td>

      <td>
        <%= f.text_field :staff_message, class: "form-control text-field-md" %>
      </td>
      <td>
        <%= f.select :quantity, options_for_select(Array(0..20), 1) %>
      </td>
      <td>
        <%= f.select :priority, options_for_select(WishlistItem.priorities.keys) %>
      </td>

      <td>
        <%= f.submit "Add", class: "btn btn-primary btn-sm" %>
      </td>
    <% end %>
  </tr>
<% end %>
