<%= form_with(model: wishlist, local: true) do |form| %>
  <% if wishlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wishlist.errors.count, "error") %> prohibited this wishlist from being saved:</h2>

      <ul>
      <% wishlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label 'Wish List Name', class: "group-label" %></br>
    <%= form.text_field :name, id: :wishlist_name, class: "text-field-md" %>
  </div>

  <%= form.fields_for :site_manager do |site_manager_form| %>
    <div class="form-group">
      <%= site_manager_form.label 'Site Manager:', class: "group-label" %>
      </br>
      <% @site_managers.each do |user| %>
        <%= site_manager_form.label user.name %>
        <%= site_manager_form.check_box user.id, checked: user.can_manage?(@wishlist), class: "checkbox"  %></br>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class: "btn submit" %>
  </div>
<% end %>
