<div class="container">
  <p id="notice"><%= notice %></p>

  <h2 class = "purple">All Wishlists</h2>
  <table class="table">
    <thead>
      <tr>
        <th colspan="4">Wishlist</th>
        <th colspan="4">Site Managers</th>
        <th colspan="2"></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @wishlists.each do |wishlist| %>
        <tr>
          <td colspan="4"><%= link_to "#{wishlist.name}",
                                      wishlist_path(wishlist.id) %></td>
          <td colspan="4"><%= get_site_managers(wishlist) %></td>

          <% if current_user.admin? %>
            <td><%= link_to 'Edit', edit_wishlist_path(wishlist) %></td>
            <td><%= link_to 'Destroy', wishlist,
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'New Wishlist', new_wishlist_path if current_user.admin? %>
</div>
