<div class="container">
  <p id="notice"><%= notice %></p>
  <h2 class = "purple"><%= @wishlist.name %></h2>

  <% if logged_in? && current_user.can_manage?(@wishlist) %>
    <div>
      <%= link_to 'Add to wishlist', search_path(@wishlist) %>
    </div>
  <% end %>

  <%= render "partials/wishlist_items" %>

  <%= link_to 'Back', wishlists_path %>
</div>
