<p id="notice"><%= notice %></p>

<h1>@wishlist.name</h1>

<%= if admin? %>
<strong>Site Managers:</strong>
<% @site_managers.each do |user| %>
  <p>
    <%= user.name %>
  </p>
<% end %>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>

<% if current_user.can_manage?(@wishlist) %>
  <div>
    <%= link_to 'Add to wishlist', search_path(@wishlist) %>
  </div>
<% end %>

<table>
  <tbody>
    <% @wishlist.wishlist_items.each do |wishlist_item| %>
      <%= render wishlist_item %>
    <% end %>
  </tbody>
</table>
