<!DOCTYPE html>
<html>
  <head>
    <title>Playtime</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'https://www.playtimeproject.org/wp-content/uploads/2013/03/Logo-no-words-e1363625449703.png'%>
  </head>

  <body>

    <div class="primary-nav">
      <%= render "partials/primary_nav" %>
    </div>

    <div class="flash-alerts">
      <%= render "partials/flash_alerts" %>
    </div>

    <div class="current-view">
      <%= yield %>
    </div>
    <div class="footer">
            The Playtime Wishlist was built with <i class="fa fa-heart"></i> by <a href="http://rubyforgood.org">Ruby for Good</a>
    </div>
  </body>
</html>
