<!DOCTYPE html>
<html>
  <head>
    <title>Playtime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'http://www.playtimeproject.org/wp-content/uploads/2013/03/Logo-no-words-e1363625449703.pn'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
